<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Francis{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.24/css/uikit.min.css" />
        {% block style %}{% endblock %}
    </head>
    <body>
        <div class="uk-offcanvas-content">
            <div uk-sticky>
                <nav class="uk-background-primary uk-light" uk-navbar>
                    <div class="uk-navbar-left uk-margin-small-left uk-visible@m">
                        <a class="uk-navbar-item uk-logo" href="">Francis</a>
                    </div>
                    <div class="uk-navbar-center uk-hidden@m">
                        <a class="uk-navbar-item uk-logo" href="">Francis</a>
                    </div>
                    <div class="uk-navbar-right uk-margin-small-right uk-visible@m">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right uk-hidden@m">
                        <ul class="uk-navbar-nav">
                            <li><a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="uk-margin uk-margin-left uk-margin-right">
                <div>
                    {% block content %}
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis dolor id arcu porttitor sodales rutrum finibus erat. Vivamus nec dolor tortor. Fusce vitae lacus id turpis dignissim eleifend ac a enim. Mauris egestas, orci eu rhoncus feugiat, felis est lacinia odio, ut malesuada tellus felis semper mi. Sed volutpat libero orci, et maximus velit euismod at. Mauris sagittis faucibus leo at porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices augue eget justo scelerisque, non ornare turpis aliquam. In sit amet iaculis tortor, sed sagittis leo. Nunc laoreet odio a egestas feugiat. Nulla quis tellus nec nisi finibus placerat. Phasellus eget nulla mi. Morbi non sagittis quam, eget suscipit urna. Nullam porta enim metus, malesuada euismod enim mollis id. Quisque sodales ut ligula ut feugiat.</p>
                    <p>Pellentesque sagittis efficitur leo, vitae sodales ex malesuada vel. Praesent ut posuere elit, in commodo eros. Suspendisse potenti. Cras quis dolor nisl. Sed et tortor volutpat, faucibus erat ut, suscipit risus. Proin blandit viverra luctus. Aenean ligula sapien, convallis in faucibus non, maximus id metus. Quisque quam dolor, sollicitudin ut ex non, viverra placerat nulla. Vestibulum at auctor felis. Cras porttitor consequat congue.</p>
                    <p>Etiam malesuada libero a ipsum auctor, quis tristique dui fringilla. In non nisi sagittis, dignissim massa at, cursus elit. Quisque auctor nibh est, id placerat dolor hendrerit non. Quisque pretium, augue sed pharetra elementum, felis justo hendrerit velit, at auctor odio lacus in ligula. Mauris eu enim non nunc ullamcorper blandit. Integer semper elementum posuere. In in iaculis metus. Aliquam sed felis elit. In non erat auctor, placerat lectus tincidunt, ornare neque. Duis eu ante id odio fermentum dictum sit amet sit amet enim. Etiam et nibh arcu. Nam maximus sapien quam, sit amet tristique erat fringilla ut. Cras condimentum libero et pretium posuere. Curabitur dapibus tortor ligula, sit amet venenatis purus scelerisque eu.</p>
                    <p>Ut ullamcorper varius ultricies. Morbi faucibus sodales gravida. In mattis non magna a mattis. Praesent gravida ipsum a maximus ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut sit amet ex ut eros sodales porta nec sed dui. Aliquam eget metus tristique, bibendum massa sed, accumsan velit. Suspendisse eget turpis pharetra, suscipit augue nec, laoreet odio.</p>
                    <p>Vivamus posuere enim ut tincidunt dictum. Donec non nulla vitae ipsum ornare hendrerit. Vestibulum aliquam enim laoreet posuere cursus. Aliquam in porttitor nulla. Suspendisse potenti. Maecenas porta euismod ante eget varius. Nullam vel consequat felis, id hendrerit tortor. Phasellus fermentum placerat mattis. Fusce ligula magna, viverra a vestibulum sit amet, eleifend et mauris. Etiam vitae aliquam mi, ac fringilla eros. Nullam pulvinar molestie orci, vitae pretium eros pretium quis. Curabitur eleifend justo porta suscipit lacinia. Nam eu aliquet diam. Maecenas felis tellus, porttitor a pharetra in, porttitor ac erat.</p>
                    <p>Morbi sagittis id ex eget euismod. Sed nec facilisis urna, nec sollicitudin mi. Integer ullamcorper nisi purus, vestibulum iaculis mi feugiat vel. Vestibulum viverra nunc eu felis ultrices, commodo tincidunt magna pharetra. Aenean quis augue sed justo sodales gravida sit amet vitae nisi. In lobortis bibendum pellentesque. Mauris commodo enim id sem elementum venenatis. Suspendisse porttitor quam at auctor vehicula. Suspendisse risus sapien, consectetur non velit sed, venenatis euismod arcu. Etiam a euismod velit. Morbi fringilla nisi a tortor interdum faucibus. Curabitur fermentum dignissim hendrerit. Nunc posuere elit sem, eu fermentum risus dictum non. Proin id pretium tortor. Aenean eget maximus nisi, sit amet pharetra massa.</p>
                    <p>Quisque at porta sapien, sit amet mollis tortor. Nulla eget tempus tellus. Mauris quis purus et mi consectetur semper sit amet sed mi. Cras ut euismod nibh. Integer aliquam leo vel mauris efficitur lacinia. Suspendisse id nisi lorem. Nam vitae feugiat purus. Curabitur vel molestie dui.</p>
                    <p>Quisque dignissim euismod nulla, sit amet lobortis risus. Donec eget finibus nunc. Duis ut nunc in leo suscipit congue. Ut eget semper nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam consequat dui velit, eget lobortis nibh finibus condimentum. Donec aliquam sem sit amet felis lobortis pellentesque. Phasellus at laoreet arcu. Quisque at luctus ipsum. Phasellus pretium libero arcu, a viverra erat eleifend et. In eleifend mattis est, non pulvinar nisi. Praesent mollis orci vel metus porttitor blandit. Proin sit amet purus ex.</p>
                    <p>Quisque feugiat massa purus, non laoreet ligula tempor ullamcorper. Aliquam sed enim id quam sodales elementum sed a arcu. Cras condimentum ac dui imperdiet egestas. Nulla facilisis ac enim nec consequat. Mauris ut bibendum lorem, a accumsan lorem. Nunc interdum convallis magna. Etiam ultricies leo sit amet tempor ullamcorper. Suspendisse lobortis velit at mauris consectetur, nec faucibus ligula semper. Nulla neque nulla, mattis a risus vitae, pharetra rhoncus turpis.</p>
                    <p>Vivamus accumsan eros vitae augue sodales venenatis. In rhoncus justo id eros tempus tincidunt. Duis sit amet porttitor nisl, at vehicula lacus. Donec dignissim leo sit amet neque congue, ac facilisis sem pellentesque. Sed dignissim efficitur nulla condimentum dictum. Duis fermentum blandit euismod. Mauris tempus porttitor arcu, id commodo nibh tempor in. Morbi nunc tortor, luctus vitae odio vel, molestie lacinia metus. Maecenas vel malesuada tellus, imperdiet auctor massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper mollis tellus, rutrum porta sapien vehicula vitae. Etiam vehicula ex nisl, vitae feugiat nulla volutpat eget.
                    </p>
                    {% endblock %}
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.24/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.24/js/uikit-icons.min.js"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>